# Sales Analysis

#### Import Necessary Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as pt

#### Merging 12 months of sales data into a single file

In [2]:
# own attempt

pd.read_csv('./Sales_Data/Sales_April_2019.csv')

import os, glob
all_files = glob.glob(os.path.join('./Sales_Data/', "Sales_*.csv"))
# print(all_files)
# os.getcwd()

df_from_each_file = (pd.read_csv(f, sep=',') for f in all_files)
# print(df_merged)
df_merged   = pd.concat(df_from_each_file, ignore_index=True)
df_merged.to_csv( "merged.csv", index=False)

print(len(pd.read_csv('merged.csv')))
pd.read_csv('merged.csv').head()

186850

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

In [3]:
# following video

df = pd.read_csv('./Sales_Data/Sales_April_2019.csv')
df.head()

files = [file for file in os.listdir('./Sales_Data')]
# print(files)

all_months_data = pd.DataFrame()
# print(all_months_data)

for file in files:
    df = pd.read_csv('./Sales_Data/'+file)
    all_months_data = pd.concat([all_months_data, df])
#     print(all_months_data)
    
all_months_data.to_csv('all_data.csv', index=False)

# check
all_data = pd.read_csv('all_data.csv')
print(len(all_data))
all_data.head()

186850

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

#### Question 1: What was the best month for sales? How much was earned that month?

In [ ]:
#own attempt

all_data.sum(axis=0)